@font-face {
  font-family: Intro_Bold_Regular;
  font-display: swap;
  src: url("../fonts/Intro_Bold_Regular.woff2") format("woff2"),
    url("../fonts/Intro_Bold_Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
